VITE_SITE_URL=https://app.example.com

VITE_AUTH_SERVICE_URL=
VITE_EVENT_SERVICE_URL=
VITE_VENUE_VENDOR_SERVICE_URL=
VITE_TICKETING_SERVICE_URL=
VITE_FINANCE_SERVICE_URL=
VITE_NOTIFICATION_SERVICE_URL=

VITE_GOOGLE_CLIENT_ID=

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_VAPID_KEY=
